[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "~=20.3.0"
python-dateutil = "~=2.8.1"
jsii = "~=1.29.0"
publication = "~=0.0.3"
constructs = "~=10.0.5"
six = "~=1.15.0"
docutils = "~=0.15.2"
botocore = "~=1.19.29"
boto3 = "~=1.16.29"
elbloadmonitor = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.13"
